{% extends "bootstrap/base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %} 
Home 
{% endblock %} 

{% block styles %} 
{{super()}} 
{% endblock %} 

{% block content %}
<div class="container">

    <center><h1>Home</h1></center>
    
    <!-- Use Jinja2 Templates Here to Display All Current Webaccounts -->
    <div class="container center">
        <h2>Account 1</h2>
        <br>
        <span>Email: example.com</span>
        <br>
        <span>Language: English</span>
        <br>
        <button>Delete Account</button>
    </div>

    <div class="container center">
        <h2>Account 2</h2>
        <br>
        <span>Email: example2.com</span>
        <br>
        <span>Language: Spanish</span>
        <br>
        <button>Delete Account</button>
    </div>


    <form class="form-signin" method="POST" action="/master/sign-up">
        <h3 class="form-signin-heading">Create Web Accont</h3>
        {{ form.hidden_tag() }} 
        {{ wtf.form_field(form.email) }} 
        {{ wtf.form_field(form.password) }} 
        {{ wtf.form_field(form.language) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Web Account</button>
    </form>

    <br>

    <div class="container center">
        <button>Delete Master Account</button>
    </div>

</div>
<!-- /container -->
{% endblock %}